<h1>Welcome to Friends App</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia omnis assumenda
sed provident numquam harum natus vero ipsa at, facere ratione! Perspiciatis
quod, debitis doloremque provident mollitia doloribus illo sequi commodi, omnis
ad ea ratione nemo impedit necessitatibus accusamus sunt veritatis accusantium,
ipsa ipsam natus aspernatur praesentium libero qui. Quam?
</p>












